{% extends "core/base.html"%}
{% block title %} factura {% endblock %}
{% block content %}
     <h1> listar factura </h1>
     <div class="table-responsive-sm">
          <table class="table table-striped table-light text-dark table-hover table-bordered">
               <thead class="thead-inverse thead-dark">
                    <tr>
                         <th scope="col"></th>
                         <th scope="col">cliente</th>
                         <th scope="col">fecha</th>
                         <th scope="col"></th>     
                    </tr>
               </thead>
     
               <tbody>
                    {% if object_list %}
                         {% for factura in object_list %}
                              <tr>
                                   <th scope="row">{{ factura.id }}</th>
                                   <th scope="row">{{ factura.cliente }}</th>
                                   <th scope="row">{{ factura.date }}</th>
                                   <td>
                                        <a class="btn btn-primary" href="{% url 'factura_view' factura.id %}">ver factura </a>
                                   </td>
                              </tr>
                         {% endfor %}
                    {% else %}
                         <h1> Ha habido algun error o no hay datos a mostrar </h1>
                    {% endif %}
               </tbody>
          </table>
     </div>
{% endblock %}

